<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
   <view
        name="CSC 316 Data"
        icon="icons/sample.png"
        class="com.arglab.eclipsedatacollector.CSC316.ui.CSC316View"
        id="com.arglab.eclipsedatacollector.CSC316.ui.CSC316View">
  </view>
   </extension>

</plugin>
