<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- This XML file is part of the project authored by Saminur Islam and owned by Dr. Collin Lynch.
     It is licensed under the terms of the GNU Affero General Public License (AGPL) version 3.0 or later. -->

   <extension point="org.eclipse.ui.commands">
      <category id="EclipseMonitor.commands.category" name="Sample Category">
      </category>
      <command categoryId="EclipseMonitor.commands.category" name="Sample Command" id="TestPluginProject.commands.consoleCommand">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key commandId="EclipseMonitor.commands.consoleCommand" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" contextId="org.eclipse.ui.contexts.window" sequence="M1+6">
      </key>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="com.arglab.eclipsedatacollector.core.eclipsemonitor.Activator" id="EclipseMonitor">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.arglab.eclipsedatacollector.core.eclipsemonitor.UserLogin"
            id="tpp.userlogin"
            name="CSC Preferences">
      </page>
   </extension>
</plugin>