<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
   <view
        name="CSC 316 Graph Data"
        icon="icons/sample.png"
        class="com.arglab.eclipsedatacollector.CSC316Graph.ui.CSC316GraphView"
        id="com.arglab.eclipsedatacollector.CSC316Graph.ui.CSC316GraphView">
  </view>
   </extension>

</plugin>
