<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Define the Runtime Analysis View -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.runtimeanalysis.category"
            name="Algorithm Analysis">
      </category>
      <view
            category="edu.runtimeanalysis.category"
            class="edu.runtimeanalysis.views.RuntimeAnalysisView"
            icon="icons/chart.png"
            id="edu.runtimeanalysis.views.RuntimeAnalysisView"
            name="Runtime Analysis"
            restorable="true">
      </view>
   </extension>
   
   <!-- Define the menu contribution -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="edu.runtimeanalysis.menu"
               label="Analysis"
               mnemonic="A">
            <command
                  commandId="edu.runtimeanalysis.commands.runAnalysis"
                  icon="icons/run.png"
                  style="push">
            </command>
            <separator
                  name="edu.runtimeanalysis.separators.exportSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="edu.runtimeanalysis.commands.exportReport"
                  style="push">
            </command>
            <!-- Diagnostic tools separator and commands (controlled by DiagnosticConfig) -->
            <!-- NOTE: These commands are disabled by default. To enable, see DiagnosticConfig.java -->
            <!--
            <separator
                  name="edu.runtimeanalysis.separators.debugSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="edu.runtimeanalysis.commands.debugRunAll"
                  style="push">
            </command>
            <command
                  commandId="edu.runtimeanalysis.commands.diagnosticAnalysis"
                  style="push">
            </command>
            -->
         </menu>
      </menuContribution>
   </extension>
   
   <!-- Define the command -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.runtimeanalysis.handlers.RunAnalysisHandler"
            id="edu.runtimeanalysis.commands.runAnalysis"
            name="Run Runtime Analysis">
      </command>
      <command
            defaultHandler="edu.runtimeanalysis.handlers.ExportReportHandler"
            id="edu.runtimeanalysis.commands.exportReport"
            name="Export Report">
      </command>
      <command
            defaultHandler="edu.runtimeanalysis.handlers.DebugRunAllAnalysisHandler"
            id="edu.runtimeanalysis.commands.debugRunAll"
            name="Debug: Run All Algorithms">
      </command>
      <command
            defaultHandler="edu.runtimeanalysis.handlers.DiagnosticAnalysisHandler"
            id="edu.runtimeanalysis.commands.diagnosticAnalysis"
            name="Diagnostic: Test All Methods">
      </command>
   </extension>
   
   <!-- Define perspectives -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="edu.runtimeanalysis.views.RuntimeAnalysisView"
               ratio="0.3"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>