[Unit]
Description=CodeEvent Server Register
After=multi-user.target
Conflicts=getty@tty1.service
StartLimitIntervalSec=0
#StartLimitBurst=5
[Service]
Type=simple
Restart=always
RestartSec=10s
RuntimeMaxSec=1d
EnvironmentFile=/usr/local/share/EclipseEvents/.env
WorkingDirectory=/usr/local/share/EclipseEvents
ExecStart=/usr/bin/python3 -u /usr/local/share/EclipseEvents/app.py
StandardInput=tty-force
StandardOutput=journal
 
[Install]
WantedBy=multi-user.target
